<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPriceService" />
                <binding name="BasicHttpBinding_IWarehouseService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54900/PriceService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPriceService" contract="PriceService.IPriceService"
                name="BasicHttpBinding_IPriceService" />
            <endpoint address="http://localhost:54896/WarehouseService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWarehouseService"
                contract="WarehouseService.IWarehouseService" name="BasicHttpBinding_IWarehouseService" />
        </client>
    </system.serviceModel>
</configuration>